crawler/.idea/compiler.xml
crawler/.idea/gradle.xml
crawler/.idea/jarRepositories.xml
crawler/.idea/misc.xml
crawler/.idea/vcs.xml
.vscode
.venv

search_index.db
search_index.log
spider_result.txt
__pycache__
search/exported_tables.xlsx
search/exported_tables/keywords.csv
search/exported_tables/links.csv
search/exported_tables/pages.csv
search/exported_tables/urls.csv
search/test.py
search/~$exported_tables.xlsx
