crawler/.idea/compiler.xml
crawler/.idea/gradle.xml
crawler/.idea/jarRepositories.xml
crawler/.idea/misc.xml
crawler/.idea/vcs.xml
.vscode
.venv

search_index.db
search_index.log
spider_result.txt
__pycache__